::-webkit-scrollbar {
    width: 0;
  }

body {
    margin: 0;
    background-color: black;
    color: white;
}

/* -----[ MENU ]------ */

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2vh;
    font-family: 'Oswald', sans-serif;
}

.barra {
    margin: 0px 30px;
}

.nome {
    font-weight: 500;
    font-size: 28px;
    animation-name: teste;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}

@keyframes teste {
    0%   {color: rgb(255, 64, 64);}
    10%  {color: rgb(253, 163, 60);}
    20%  {color: rgb(253, 250, 60);}
    30%  {color: rgb(68, 250, 68);}
    40%  {color: rgb(60, 253, 195);}
    50%  {color: rgb(43, 110, 255);}
    60%  {color: rgb(59, 72, 248);}
    70%  {color: rgb(127, 59, 253);}
    80%  {color: rgb(229, 68, 250);}
    90%  {color: rgb(250, 68, 98);}
    100% {color: rgb(255, 64, 64);}
  }

/* -----[ LINKS ]------ */

a {
    color: white;
    text-decoration: none;
    transition: 0.4s;
    font-weight: 400;
}

a.t {
    border: 2px solid white;
    padding: 2px 5px;
}

/* -----[ IMAGEM ]------ */

img {
    width: 270px;
    height: 480px;
    float: left;
    animation-name: border;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}

@keyframes border {
    0%   {border: 5px solid rgb(255, 64, 64);}
    10%  {border: 5px solid rgb(253, 163, 60);}
    20%  {border: 5px solid rgb(253, 250, 60);}
    30%  {border: 5px solid rgb(68, 250, 68);}
    40%  {border: 5px solid rgb(60, 253, 195);}
    50%  {border: 5px solid rgb(43, 110, 255);}
    60%  {border: 5px solid rgb(59, 72, 248);}
    70%  {border: 5px solid rgb(127, 59, 253);}
    80%  {border: 5px solid rgb(229, 68, 250);}
    90%  {border: 5px solid rgb(250, 68, 98);}
    100% {border: 5px solid rgb(255, 64, 64);}
}

/* -----[ TEXTO ]------ */

div#texto {
    height: 52vh;
    margin: 5% 5%;
}

p {
    text-align: justify;
    width: 70%;
    margin-top: 10%;
    float: right;
    font-size: 14pt;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18pt;
}

span {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 30px;
    animation-name: shadow;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}

@keyframes shadow {
    0%   {text-shadow: 2px 2px 2px rgb(255, 64, 64);}
    10%  {text-shadow: 2px 2px 2px rgb(253, 163, 60);}
    20%  {text-shadow: 2px 2px 2px rgb(253, 250, 60);}
    30%  {text-shadow: 2px 2px 2px rgb(68, 250, 68);}
    40%  {text-shadow: 2px 2px 2px rgb(60, 253, 195);}
    50%  {text-shadow: 2px 2px 2px rgb(43, 110, 255);}
    60%  {text-shadow: 2px 2px 2px rgb(59, 72, 248);}
    70%  {text-shadow: 2px 2px 2px rgb(127, 59, 253);}
    80%  {text-shadow: 2px 2px 2px rgb(229, 68, 250);}
    90%  {text-shadow: 2px 2px 2px rgb(250, 68, 98);}
    100% {text-shadow: 2px 2px 2px rgb(255, 64, 64);}
}